<!--
.. title: Investigating & Archiving the Scholarly Git Experience
.. slug: index
.. date: 2020-06-04 14:28:00 UTC-04:00
.. hidetitle: True
.. description: Homepage for the capstone project about open source hardware
.. type: text
-->

<!DOCTYPE html>
<html lang="en">
 <body>
<!-- omit banner announcement    
       <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button> Consider taking our <a href="https://nyu.qualtrics.com/jfe/form/SV_5ArtYnx6kWMXYNv" class="alert-link">~5 minute survey</a> about your practices with git and source code hosting platform!
       </div>
-->
       <div class="jumbotron">
          <h1 class="display-5">Development & Evolution of Open Source Hardware<img src="images/wrench_small.png"></h1>
          <p class="lead">This research is conducted for the <a href="https://ischool.uw.edu/capstone">University of Washington's Information School Master of Library and Information Science Capstone</a> program. Tentatively titled, <i>The Development and Evolution of Open Source Hardware</i> (DEOSH), we are motivated by the surge of initiatives to share plans for manufacturing material tangible goods, hardware, in order to address the global fight against COVID-19. In this context, open source hardware (OSH) includes, but is not limited to personal protective equipment (PPE), ventilators, respirators, etc. Throughout the COVID-19 pandemic, the U.S. continues to face a shortage of PPE and medical devices, placing essential workers and citizens at risk of contracting and spreading coronavirus—prolonging the possibility of reopening society to a safe “new normal”. DEOSH will gain an understanding of the OSH community members and products in order to better support the development, maintenance, and dissemination processes for wider adoption and use.
</p>
      </div>
      
      <div class="card-deck">
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Updates <i class="fas fa-pencil-alt"></i></h4>
<div class="card-body">
<p>TBA</p>
</div>
</div>
</div>
<!-- hide updates for now
            <div class="card-body">
            {{% post-list stop=4 %}}{{% /post-list %}}
            </div>
            <p class="card-text text-muted card-footer"><a href="/updates/">Read more from us <i class="fas fa-angle-double-right"></i></a></p>
        </div>
-->
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Weekly Readings <i class="fas fa-book-reader"></i></h4>
            <div class="card-body">
            <ul>             
	<li><a href="https://heinonline.org/HOL/P?h=hein.journals/udlr34&i=189">Toward Open Source Hardware</a></li>
              <li><a href="https://www.theverge.com/2020/5/25/21264243/face-shields-diy-ppe-3d-printing-coronavirus-covid-maker-response">3D printers are on the front lines of the COVID-19 pandemic</a></li>
<li><a href="https://www.oshwa.org/2020/04/09/open-source-hardware-in-the-era-of-covid-19/">Open Source Hardware in the era of COVID-19</a></li>
            </ul>
            </div>
        </div>

<!-- hide full list for now
            <p class="card-text text-muted card-footer"><a href="/reading-list/">See full reading list <i class="fas fa-angle-double-right"></i></a></p>
-->

<!-- hide tweets for now
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">#openSource #openHardware <i class="fab fa-twitter"></i></h4>
            <div class="card-body">
              <p lang="en" dir="ltr">✨FIRST <a href="https://twitter.com/hashtag/IASGE?src=hash&amp;ref_src=twsrc%5Etfw">#IASGE</a> BLOG POST OF 2020 ✨ in which <a href="https://twitter.com/snewyuen?ref_src=twsrc%5Etfw">@snewyuen</a> describes how Continuous Integration ♾ can be used for quality assurance in research workflows. Check it out: <a href="https://t.co/suUT6ZLuXc">https://t.co/suUT6ZLuXc</a></p>&mdash; Vicky Steeves (<a href="https://twitter.com/VickySteeves">@VickySteeves</a>) <a href="ttps://twitter.com/VickySteeves/status/1241062265064960000">2020-03-20</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
            <p class="card-text text-muted card-footer"><a href="https://twitter.com/search?q=%23IASGE&src=recent_search_click&f=live">Scroll all #IASGE tweets<i class="fas fa-angle-double-right"></i></a></p>
        </div>
        </div>
-->        
 </body>
</html>

